<% provide(:title, "Search") %>
<div class="search_container">
    <%= form_for :search, url: search_path, method: :get, remote: true do |f| %>
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="form search_box">
                    <%= f.text_field :query, class:"form-control form-input", id: "search-input", placeholder:"Please enter here ..."  %>
                    <%= link_to image_tag("search.svg", width: "30px", height: "20px", class: "image_search") %>
                    <%= f.submit "Search", class: "btn btn-primary search_text" %>
                </div>
            </div>
        </div>
    <% end %>
    <%= render "search" %>
</div>
