<% provide(:title, 'User') %>
<div class = "user-container">
    <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', readonly: true %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', readonly: true %>
    <% end %>
</div>
