<% if can? :read, @answers %>
    <% provide(:title, "History") %>
    <div class = "exam-container">
        <div class = "box-info-user">
            <h5><%= t('answers.index.title') %></h5>
        </div>
        <div class = "box-info-exam">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><%= t('answers.index.number_answer') %></th>
                        <th scope="col"><%= t('answers.index.name_answer') %></th>
                        <th scope="col"><%= t('answers.index.name_sub') %></th>
                        <th scope="col"><%= t('answers.index.score') %></th>
                        <th scope="col"><%= t('answers.index.detail') %></th>
                    </tr>
                </thead>
                <tbody>
                    <% @answers.each_with_index do |answer, index| %>
                        <tr>
                            <th scope="row"> <%= index+1 %> </th>
                            <td><%= answer.exam.name %></td>
                            <td><%= answer.exam.subject.name %></td>
                            <td><%= answer.score %></td>
                            <td>
                                <%= link_to "Xem", subject_exam_answer_path(answer.exam.subject.id, answer.exam.id, answer.id ), class: "btn btn-info"%>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
<% end %>
