<div class = "container-show">
    <%= form_for [@subject, @exam, @answer], html: { id:  "form-exam" } do |f| %>
        <div class="main-body-exam">
            <div class="title-box-exam">
                <div class="mb-3">
                    <%= f.label :name, "Name Exam" %>
                    <%= f.text_field :name, name: "exam[name]", class: "form-control", value: @exam.name, readonly: true %>
                </div>
                <div class = "box-time">
                    <div class="mb-3 time-exam">
                        <%= f.label :time, "Time Exam" %>
                        <%= f.number_field :time, name: "exam[time]", class: "form-control", value:@exam.time, readonly: true %>
                    </div>
                    <div class = "mb-3 clock-exam">
                        <p>Time remaining </p>
                        <span id="countdown"></span>
                    </div>
                </div>
            </div>
            <div class="questions-container">
                <h5>Danh sách câu hỏi</h5>
            </div>
        </div>
        <% @exam.questions.each_with_index do |question, index| %>
            <div class="question-warpper" data-id="<%= index + 1 %>">
                <%= f.text_field :questions, name: "answer[questions][][content]", class: "form-control", value: question["content"], readonly: true %>
                <ul class="question-box">
                    <li>
                        <div class="ques-fea">
                            <% question["answers"].each do |answer| %>
                                <div class="form-check">
                                    <%= f.text_field :questions, name: "answer[questions][][answer][][content]", class: "form-control", value: answer["content"] %>
                                    <%= f.radio_button :questions, true, name: "answer[questions][][answer][][status][#{index + 1}]", class: "form-check-input"%>
                                </div>
                            <% end %>
                        </div>
                    </li>
                </ul>
            </div>
        <% end %>
        <div class = "submit-answer">
           <%= f.submit "Submit Answer", class: "btn btn-success" %>
        </div>
    <% end %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var examTime = <%= @exam.time %>;
    var duration = examTime * 60;
    var userId = "<%= @user.id %>";
    var examId = "<%= @exam.id %>";
    var sessionKey = `session_${userId}_${examId}`;
    var endTimeKey = `endTime_${userId}_${examId}`;
    
    var currentSession = sessionStorage.getItem(sessionKey);
    var newSession = `${userId}_${examId}`;
    
    if (currentSession !== newSession) {
      localStorage.removeItem(endTimeKey);
      sessionStorage.setItem(sessionKey, newSession);
    }
    
    var endTime = localStorage.getItem(endTimeKey);

    if (!endTime) {
      endTime = new Date().getTime() + duration * 1000;
      localStorage.setItem(endTimeKey, endTime);
    } else {
      endTime = parseInt(endTime, 10);
    }

    function updateCountdown() {
      var now = new Date().getTime();
      var remainingTime = endTime - now;

      if (remainingTime <= 0) {
        document.getElementById("countdown").innerText = "Time's up";
        localStorage.removeItem(endTimeKey); 
        document.getElementById("form-exam").submit();
      } else {
        var minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);
        document.getElementById("countdown").innerText = minutes + "m " + seconds + "s";
        setTimeout(updateCountdown, 1000);
      }
    }
    updateCountdown();
  });
</script>

