<div class = "exam-container">
    <div class = "box-info-user">
        <h5>Danh sách bài thi</h5>
    </div>
    <div class = "box-info-exam">
        <%= link_to "Thêm mới", new_subject_exam_path, class: "btn btn-success"%>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên bài thi</th>
                    <th scope="col">Môn thi</th>
                    <th scope="col">Bắt đầu</th>
                    <th scope="col">Kết thúc</th>
                    <th scope="col">Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>KTGĐ-<%= @subject.name %></td>
                    <td><%= @subject.name %></td>
                    <td>9am</td>
                    <td>10pm</td>
                    <td>
                        <%= link_to "Sửa", "#", class: "btn btn-info"%>
                        <%= link_to "Xóa", "#", class: "btn btn-danger"%>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>