<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0 logo_header">
        <a class="d-inline-flex link-body-emphasis text-decoration-none " >
            <%= link_to image_tag("Exam.gif", alt: "Exam logo", width: "50px", height: "50px") %>
            <h5><%= link_to "EXAM APP", home_path %></h5>
        </a>
          <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><%= link_to 'Home', home_path, class: 'nav-link px-2' %></li>
        <li><%= link_to 'Subject', subjects_path, class: 'nav-link px-2' %></li>
        <li><%= link_to 'History', history_path, class: 'nav-link px-2' %></li>
        <% if user_signed_in? %>
          <% if current_user.role == 1 %>
            <li><%= link_to 'User', users_path, class: 'nav-link px-2' %></li>
          <% end %>
        <% end %>
        <li><%= link_to 'About', about_path, class: 'nav-link px-2' %></li>
        <li><%= link_to 'Contact', contact_path, class: 'nav-link px-2' %></li>    
      </ul>

      <% if user_signed_in? %>
        <div class="dropdown"> 
          <button class="dropbtn">
            <%= link_to image_tag("list.svg", alt: "List feature", width: "50px", height: "50px") %>
          </button> 
          <div class="dropdown-content"> 
            <%= link_to "Information", edit_user_path(current_user), class: "fea_header" %>
            <%= link_to "Search", search_path , class: "fea_header" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "fea_header" %>
          </div> 
        </div> 
      <% end %>
    </header>
</div>
